:root {
  --main-color: #f9f7fe;
  --branding-color: #8dc6ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
}

body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 96px;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}

.hero {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
  padding: 150px 20px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 300;
  font-size: 24px;
  color: #272142;
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.about-section {
  padding: 140px 20px;
}

.about-section-content {
  margin: 30px;
  text-align: left;
  padding-left: 20px;
}
.about-section-content p {
  line-height: 2;
  font-family: var(--default-font-family);
  font-size: 18px;
}
.about-img {
  border-radius: 15px;
  overflow: hidden;
  display: block;
  max-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.btn-branding {
  color: white;
  background-color: var(--branding-color);
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.btn-application {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  box-shadow: var(--box-shadow);
}
.btn-branding:hover {
    color: #ff8364;
}
.btn-application:hover{
    color: #ff8364;
}

.main-wrap {
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}
.container-fluid{
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
h1.my-projects{
font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: lighter;
  padding: 60px;
}
h1.contact-heading{
    font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: lighter;
  padding: 60px 0;
}
.project-description {
  text-align: left;
  padding: 120px 60px;
}
.overflow-hidden {
  margin-left: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.github-link{
    display: block;
    padding-bottom: 30px;
}

.col.col.d-none.d-lg-block {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

footer {
  background-color: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
  font-family: var(--default-font-family);
}
.social-links a {
  color: #8dc6ff;
  text-decoration: none;
  margin: 10px 20px 10px;
  font-size: 30px;
  transition: 100ms ease-in-out;
  transition-behavior: normal;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}
.social-links a:hover {
  color: #ff8364;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  .hero{
    padding: 80px 10px;
  }
  .hero p {
    font-size: 24px;
  }
  h1.my-projects{
    font-size: 24px;
  }
  .hero h2 {
    font-size: 18px;
  }
  .project-description {
    padding: 30px 15px;
    text-align: center;
  }

  .about-section {
    padding: 60px 15px;
  }

  .about-section-content {
    text-align: center;
    padding-left: 0;
    margin: 0;
  }

  .about-section-content p {
    font-size: 16px;
  }

  .about-img {
    max-width: 200px;
    display: block;
    margin: auto;
  }
    h1.contact-heading {
    font-size: 24px;
    padding: 30px 0;
  }
  .btn-branding,
.btn-application {
  font-size: 16px;
  padding: 12px 24px;
}
}


